*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    position: relative;
    background: #ffff;
}
#chk, #show-btn, #hide-btn{
    display: none;
    color: #ffff;
    font-size: 20px;
    float: right;
    margin-top: -15%;

}

.navbar{
    width: 100%;
    height: 100vh;
    background-image: url(jekon1.jpeg);
    color: #fff;
    background-size: cover;
}

header{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid rgb(194, 191, 191);
    position: fixed;
    background: rgba(0, 0, 0, 0.9);
    z-index: 11111;
}
header .brand-name{
    font-weight: 600;
    font-size: 22px;
    text-transform: uppercase;
    position: relative;
    padding-left: 20px;
}
.navbar .fa{
    display: none;
    color: #fff;
    margin: 10px 25px;
    font-size: 22px;
    cursor: pointer;
}
nav ul{
    display: inline;
}

nav ul li{
    padding-top: 15px;
    display: inline-block;
    margin-right: 50px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    position: relative;
    display: block;
    padding: 10px 0;
}
nav ul li a:hover{
    border-top: 2px solid #e77f67;
    border-bottom: 2px solid #e77f67;
    color: #e77f67;
    width: 100%;
}
nav ul li.active a{
    border-bottom: 2px solid #e77f67;
    border-top: 2px solid #e77f67;
    top: 100%;
}

.main-info{
    color: #fff;
    margin-left: 100px;
    padding: 0 10px;
    font-size: 22px;
    height: 50%;
}

.name{
    margin-left: 3%;
    padding-top: 40px;
    transform: translateY(-50%, -50%);
    
}
.name h5{
    padding-top: 200px;
}
.main-info h1{
    font-size: 100px;
}
h3{
    padding-bottom: 10px;
}
.main-info span::before{
    content: '';
    animation: animate infinite 8s;
}
@keyframes animate{
    0%{
        content: 'Web Designer |';
    }
    25%{
        content: 'Data Analyst |';
    }
    50%{
        content: 'Mathematician |';
    }
    75%{
        content: 'Footballer |' ;
    }
    100%{
        content: 'Photographer |';
    }
}
.main-info .cv-btn a{
    box-sizing: border-box;
    border-radius: 4px;
    border:2px solid gray;
    text-decoration: none;
    color: #fff;
    padding: 5px 10px 5px 5px;
    cursor: pointer;
}
.main-info .cv-btn a:hover{
    padding: 7px;
    color: gray;
}
.cv-btn .fa{
    color: #fff;
    font-size: 15px;
}
.about{
    margin-top: 10%;

}
.abt-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 0;
    margin-left: 50px;
}
.abt-title{
    padding: 10px;

}
.abt-title h1{
    

}
.abt-title h3{
    padding-top: 10px;
    text-transform: uppercase;
    color: gray;
    font-weight: 300;
}
.abt-img img{
    border: 4px;
    width: 400px;
    height: 500px;
}
.abt-info{
   margin-right: 25%;
}
.abt-info h4{
    padding-top: 10px;
}
.abt-info span{
    color: #e77f67;
}
.abt-details{
    margin-top: -30%;
    margin-left: 37%;
    padding-top: 10px;
}
.abt-details span{
    font-weight: bold;
}
.icons{
    margin-top: -15%;
    margin-left: 34%;
    padding: 30px 50px;
    text-decoration: none;
    box-sizing: border-box;
    color: #0000;
    font-size: 18px;
    cursor: pointer;
}
.icons a:hover{
    color: #e77f67;
}
.icons a{
    color: #000;
    padding-left: 30px;
}
.hire{
    margin-top: 5%;
    margin-left: 20px;
}
.hire h3{
    width: 9%;
    border-bottom: 2px solid #e77f67;
    margin-left: 5px;
}

.services{
    margin-top: 10%;
}

.serv-title{
    text-align: center;
    text-transform: uppercase;
}
.serv-content{
    display: flex;
    justify-content: space-evenly;
}
.serv-content .fa{
    box-sizing: border-box;
    border: 2px solid #e77f67;
    border-radius: 50%;
    background-color: #e77f67;
    color: #fff;
    font-size: 22px;
    font-weight: 400;
    padding: 15px;
    margin-left: 45%;
    margin-top: 50px;
}
.serv-content h3{
    text-align: center;
    margin-top: 10px;
}
.sub-serv{
    box-sizing: border-box;
    background: rgb(247, 243, 243);
    width: 400px;
    height: 300px;
    align-content: center;
    margin-left: 20px;
    margin-top: 30px;
}
.sub-cont{
    text-align: center;
    margin-top: 10px;
    padding: 10px;
}
.sub-cont p{
    padding-top: 5px;
}

.skills{
    margin-top: 10%;
    margin-left: 30px;
}
.skills h1{
    padding-left: 10px;
}
.skills-content{
    display: flex;
    margin-left: 20px;
}
.skills-content p{
    margin-right: 150px;
}
.skills-img img{
    width: 450px;
    height: 450px;
}
.skills-head{
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 80px;
}
.skills h1{
    margin: 20px 0;
}
.skills-bar{
    margin-left: 30px;
    margin-top: -27%;
}

.skills-bar .bar{
    margin-bottom: 30px;
    width: 500px;
    height: 8px;
}
.bar{
    width: 500px;
    background: #333;
    display: block;
    height: 6px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    overflow: hidden;
}
.bar span{
    height: 5px;
    float: left;
    background: #2187e7;
    border-radius: 3px;
    padding-top: 5px;
}
.html{
    width: 70%;
    animation: html 2s;
}
.css{
    width: 60%;
    animation: css 2s;
}
.javascript{
    width: 40%;
    animation: javascript 2s;
}
.python{
    width: 65%;
    animation: python 2s;
}
.sql{
    width: 75%;
    animation: sql 2s;
}
@keyframes html{
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
}
@keyframes css{
    0%{
        width: 0%;
    }
    100%{
        width: 85%;
    }
}
@keyframes javascript{
    0%{
        width: 0%;
    }
    100%{
        width: 60%;
    }
}
@keyframes python{
    0%{
        width: 0%;
    }
    100%{
        width: 85%;
    }
}
@keyframes sql{
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
}
@keyframes html{
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
}




.works{
    margin-top: 15%;
}
.works-head{
    text-align: center;
    text-transform: uppercase;
}
.works-title{
    text-transform: uppercase;
}
.works-title img{
    margin-left: 5%;
    padding-right: 20px;
    width: 550px;
    height: 500px;
    padding: 20px 0;
}
.works-title ul{
    display: inline;
}
.works-title ul li{
    display: inline-block;
    margin-top: 20px;
    margin-left: 10%;
    padding: 10px ;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}


.touch{
    margin-top: 10%;
    box-sizing: border-box;
    background: #e77f67;
    width: 100%;
    height: 100px;
    padding: 20px;
}
.touch p{
    margin-left: 10px;
    margin-right: 60px;
    color: #ffff;
    margin-top: 10px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}

.btn-touch{
    float: right;
    margin-top: -1.5%;
    margin-right: 10%;
    text-transform: uppercase;
    font-size: 15px;
    
}
.btn-touch a{
    text-decoration: none;
    background: #e77f67;
    border: 2px solid #ffff;
    border-radius: 7px;
    color: #fff;
    padding: 10px 15px;
}
.btn-touch a:hover{
    background-color: #ffff;
    color: #e77f67;
}


.blogs{
    margin-top: 10%;
}
.blog-head{
    text-align: center;
    text-transform: uppercase;
}
.blog-owl-carousel{
    margin-top: 20%;
}

.blog{
    display: inline-flex;
    overflow: hidden;
    position: relative;
    height: 100%;
    cursor: pointer;
    padding-left: 30px;
    padding-top: 30px;
}

.blog img{
    width: 400px;
    height: 400px;
}
.blog-description{
    position: absolute;
    bottom: -40px;
    background: #333333ca;
    width: 400px;
    transition: .3s linear;
}
.blog:hover .blog-description{
    bottom: 0;
}
.category{
    display: inline-block;
    color: #e77f67;
    font-size: 18px;
    position: relative;
    padding: 0 22px;
}
.category::before{
    content: "";
    position: absolute;
    width: 14px;
    height: 2px;
    background: #e77f67;
    left: 0;
    top: 10px;
}
.category::after{
    content: "";
    position: absolute;
    width: 14px;
    height: 2px;
    background: #e77f67;
    right: 0;
    top: 10px;
}
.title{
    color: #fff;
    font-weight: 500;
    margin: 5px 0;
}

.date{
    font-style: italic;
    color: #e77f67;
    margin-bottom: 20px;
}

.btn{
    display: inline-block;
    color: #e77f67;
    text-decoration: none;
    border: 2px solid #e77f67;
    padding: 6px 20px;
    opacity: 0;
    transition: .3s linear;
}
.blog:hover .btn{
    opacity: 1;

}
.btn:hover{
    color: #fff;
    background: #e77f67;
}
.owl-stage{
    display: flex !important;
}


.contact{
    margin-top: 10%;
}
.contact-head{
    text-align: center;
    text-transform: uppercase;
}

.contact-box{
    background: rgb(247, 243, 243);
    width: 600px;
    height: 500px;
    margin-left: 25%;
    
}
.contact-msg{
    padding-top: 50px;
    padding-left: 30px;
    margin-left: 3%;
}
.contact-msg p{
    padding-top: 10px;
}

form{
    margin-top: 5%;
    margin-left: 7%;
    
}
.contact-name, .contact-mail{
    width: 500px;
    height: 30px;
    border-radius: 5px;
    margin-bottom: 2px;
}
.contact-txt{
    width: 500px;
    height: 200px;
    margin-top: 10px;
}
.contact-name, .contact-mail, .contact-txt{
    background: rgb(202, 201, 201);
    color: #fff;
}
.submit{
    text-transform: uppercase;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background: rgb(202, 201, 201);
}
.submit:hover{
    background-color: #ffff;
    color: #222f3e;
    border: 2px solid #222f3e;
}



.display, button, .up{
    margin-bottom: 5px;
}
.display{
    box-sizing: border-box;
    background: #222f3e;
    color: #e77f67;
    border-radius: 5px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 600;
    height: 35px;
    width: 150px;
    margin-left: 45%;
    margin-top: -3%;
    line-height: 35px;
    padding-left: 15px;
}
button{
    bottom: 0px;
    margin-left: 5%;
    margin-top: 5%;
    background: #222f3e;
    border-radius: 5px;
    padding: 5px;
    color: #e77f67;
    width: 50px;
    height: 25px;
    font-weight: 600;
    cursor: pointer;
    border: none;
}
.up{
    margin-top: 4%;
    color: #e77f67;
    bottom: 0px;
    float: right;
    margin-right: 10px;
    z-index: 9;
}
.up a{
    height: 30px;
    width: 25px;
    text-align: center;
    background: #222f3e;
    border: 1px solid #e77f67;
    padding: 2px;
    display: block;
    border-radius: 50%;
    cursor: pointer;
}
.up a span{
    color:#e77f67;
    line-height: 30px;
    font-size: 25px;
}

.end-box{
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    color: #fff;
}
.end{
    text-align: center;
}
.end h1{
    padding-top: 20px;
    text-transform: uppercase;
}
.iconss{
    text-align: center;
    padding: 30px 50px;
    text-decoration: none;
    font-size: 18px;
}
.iconss a{
    color: #fff;
    padding-left: 30px;
}
.iconss a:hover{
    color: #e77f67;
}
footer hr{
    border: 1px solid #70707070;
    margin-top: 20px;
}

footer p{
    text-align: center;
    color: #ffff;
    font-size: 13px;
    padding: 30px 0;
}



@media (max-width: 700px) {
    #show-btn, #hide-btn{
        display: block;
    }
    .header{
        display: inline;
        position: fixed;
        left:-100%;
        top: 0;
        background: rgba(0, 0, 0, 0.9);
        height: 700px;
        width: 200px;
        text-align: center;
        transition: 0.7s;
    }
    .nav ul li{
        display: inline;
        padding: 10px 0;
    }
    #hide-btn{
        position: absolute;
        top: 40px;
        right: 40px;

    }
    #chk:checked ~ .nav-links{
        left: 0;
    }
    #show-btn{
        position: absolute;
        right: 5px;
        top: 10px;
        display: block;
        color: white;
        font-size: 22px;
        margin: 10px 25px;
        cursor: pointer;
    }
    .navbar{
      
    }
    .navbar .fa{
        display: block;
        color: white;
        font-size: 22px;
        margin: 10px 25px;
        cursor: pointer;
    }
    .nav-links{
		height: 700px;
		width: 200px;
		background: rgba(0, 0, 0, 0.9);
		top: 0;
		left: -200px;
		position: absolute;
		text-align: left;
		z-index: 2;
		transition: 0.4s;
	}
	.nav-links ul{
        display: block;
        text-align: center;
    }
    .nav-links ul li{
        padding: 20px 10px;
    }
    .nav-links ul li:first-child{
        padding-top: 100px;
    }
    
    .main-info h1{
        font-size: 60px;
    }
    .main-info{
        font-size: 15px;
        margin-left: 40px;
    }
    .name{
        margin: auto;
    }
    
    .cv-btn a{
        margin: auto;
    }
    .abt-title{
        text-align: center;
    }
    .abt-details{
        margin-top: -5%;
        margin-left: 1%;
        padding-top: 50px; 
    }
    .abt-img img{
        width: 300px;
        height: 300px;
    }
    .icons{
        margin-top: 10%;
        margin-left: 1%;
        padding: 30px 20px;
        text-decoration: none;
        box-sizing: border-box;
        color: #0000;
        background-color: white;
        font-size: 18px;
        cursor: pointer;
    }
    .icons a:hover{
        color: #e77f67;
    }
    .icons a{
        color: #000;
        padding-left: 30px;
    }
    .hire h3{
        width: 30%;
    }
    .hire p{
        margin-left: 20px;
        margin-right: 20px;
    }
    .serv-content{
        display: grid;
    }
    .sub-serv{
        width: 300px;
    }
    
    .serv-head{
        margin-left: -5px;
    }
    .skills-head{
        text-align: center;
    }
    .skills-head p{
        text-align: justify;
        margin-left: 1%;
    }
    .skills-img img{
        width: 300px;
        height: 250px;
    }
    .skills-content{
        display: flex;
        flex-wrap: wrap ;
    }
    .skills-content p{
        text-align: justify;
    }
    .skills-bar{
        margin-top: 15%;
    }
    .skills-bar .bar{
        width: 280px;
    }
    .progressbar{
        width: 280px;
    }
    .bar-html{
    width: 400px;
    }
    .bar-css{
    width: 350px;
    }
    .bar-javascript{
        width: 225px;
    }
    .bar-python{
        width: 225px;
    }
    .bar-sql{
       width: 300px;
    }
    .works-title img{
        margin-left: auto;
        margin-right: auto;
        width: 350px;
        height: 350px;
        padding-left: 20px;
    }
    .touch{
        height: 200px;
    }
    .btn-touch{
        margin-top: 10%;
        margin-right: 30%;
    }
  
    .blogs{
        margin-top: 20%;
    }
    .blogs-owl-carousel{
        margin-top: 80%;
    }
    .blog:first-child{
        margin-top: -99%;
    }
    .blog{
        margin: auto;
        width: 350px;
    }
    .blog img{
        height: 300px;
    }
    .title {
        font-size: 20px;
    }
    .contact{
        margin-top: 20%;
    }
    .contact-box{
        margin: 0 auto;
        width: 350px;
        height: 480px;
    }
    .contact-name, .contact-mail, .contact-txt{
        width: 300px;
    }
    button{
        margin-top: 40px;
    }
    .up{
        margin-top: 30px;
    }
    .display{
        margin-top: -7%;
        margin-left: 36%;
    }
    .end-box{
        margin-top: 1%;
        width: 100%;
    }
}

@media (width:768px) {

    .brand-name h1{
        margin-left: 80%;
    }
    .nav-links {
        margin-left: 12%;
    }
    .cv-btn a{
        margin: auto;
    }
    .abt-img{
        width: 150px;
    }
    .abt-info{
        margin-top: -60%;
        margin-left: 60%;
    }
    .abt-details{
        margin-left: 60%;
    }

    .hire h3{
        width: 120px;
    }
    .skills-content p{
        text-align: justify;
    }
    .skills-img img{
        height: 310px;
        margin-right: 50px;
    }
    .skills-bar{
        margin-top: 50px;
    }
    .works-title img{
        margin-left: 120px;
    }
    
    .touch{
        height: 120px;
    }
    .btn-touch{
        padding-top: 35px;
        margin-right: 45%;
    }
    .blog{
        margin-left: 20%;
    }
    .contact-box{
        margin: 0 auto;
        width: 650px;
        height: 480px;
    }
    .contact-name, .contact-mail, .contact-txt{
        width: 550px;
    }
}

@media (min-width:770px) and (max-width: 1280px) {
    header{
        position: absolute;
    }
    .brand-name h1{
        margin-left: 80%;
    }
    .nav-links {
        margin-left: 12%;
    }

        
    .name{
        margin-left: 3%;
        padding-top: 40px;
        transform: translateY(-50%, -50%);
        
    }
    .name h5{
        padding-top: 200px;
    }
    .main-info h1{
        font-size: 100px;
    }
    h3{
        padding-bottom: 10px;
    }
    .main-info span::before{
        content: '';
        animation: animate infinite 8s;
    }
    @keyframes animate{
        0%{
            content: 'Web Designer |';
        }
        25%{
            content: 'Data Analyst |';
        }
        50%{
            content: 'Mathematician |';
        }
        75%{
            content: 'Footballer |' ;
        }
        100%{
            content: 'Photographer |';
        }
    }
    .main-info .cv-btn a{
        box-sizing: border-box;
        border-radius: 4px;
        border:2px solid gray;
        text-decoration: none;
        color: #fff;
        padding: 5px 10px 5px 5px;
        cursor: pointer;
    }
    .main-info .cv-btn a:hover{
        padding: 7px;
        color: gray;
    }
    .cv-btn .fa{
        color: #fff;
        font-size: 15px;
    }




    .cv-btn a{
        margin: auto;
    }


    .abt-img{
        width: 150px;
    }
    .abt-info{
        margin-top: -60%;
        margin-left: 60%;
    }
    .abt-details{
        margin-left: 60%;
    }

    .hire h3{
        width: 120px;
    }
    .skills-content p{
        text-align: justify;
    }
    .skills-img img{
        height: 310px;
        margin-right: 50px;
    }
    .skills-bar{
        margin-top: 50px;
    }
    .works-title img{
        margin-left: 120px;
    }
    .blogs-owl-carousel{
        columns: 2;
        justify-content: space-between;
        margin-left: -100px;
        margin-right: 100px;
    }
    .touch{
        height: 120px;
    }
    .btn-touch{
        padding-top: 35px;
        margin-right: 45%;
    }
    .blog{
        margin-left: 20%;
    }
    .contact-box{
        margin: 0 auto;
        width: 650px;
        height: 480px;
    }
    .contact-name, .contact-mail, .contact-txt{
        width: 550px;
    }
}




